<nav role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
      <li data-url="/dashboard"><a href="/dashboard"><i class="fa"></i> User info</a></li>
      <li data-url="/category"><a href="/category"><i class="fa"></i> Category</a></li>
      <li data-url="/home"><a href="/home"><i class="fa"></i>To the shop</a></li>
      <li data-url="/logout"><a href="/logout"><i class="fa "></i> Exit</a></li>
    </ul>
  </div>
</nav>